.video-container {
  width: 960px;
  height: 540px;
  background: #000;
  position: relative;
}
.play-container {
  position: absolute;
  bottom: 20px;
  left: 80px;
}
.mute-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.circle {
  stroke: #ffffff;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.video-button {
  display: inline-block;
  -webkit-transition: stroke-dashoffset 0.5s ease;
}
.video-button:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
.sound {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.sound--icon {
  color: #fff;
  width: 75%;
  height: 100%;
  line-height: 100%;
  display: block;
  margin: auto;
}
.sound--wave {
  position: absolute;
  border: 2px solid transparent;
  border-right: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  margin: auto;
  top: -4px;
  bottom: 0;
  left: 0;
  right: 0;
}
.sound--wave_one {
  width: 40%;
  height: 40%;
}
.sound--wave_two {
  width: 60%;
  height: 60%;
}
.sound-mute .sound--wave {
  border-radius: 0;
  width: 50%;
  height: 50%;
  border-width: 0 4px 0 0;
}
.sound-mute .sound--wave_one {
  -webkit-transform: rotate(45deg) translate3d(0, -23%, 0) scale(0.5);
  transform: rotate(45deg) translate3d(0, -23%, 0) scale(0.5);
}
.sound-mute .sound--wave_two {
  -webkit-transform: rotate(-45deg) translate3d(0, 23%, 0) scale(0.5);
  transform: rotate(-45deg) translate3d(0, 23%, 0) scale(0.5);
}
